body{
  padding:5em 15em 5em 15em;
}

.portfolio_grid{
  column-count:3;
  column-gap:0;
}
.portfolio_item{
  width:250px;
  margin-bottom:10px;
  margin-right:10px;
}
button{
  border-radius:0;
  border:2px solid #555555;
  margin-bottom:10px;
  margin-right:5px;
  padding:0.5em 1em 0.5em 1em;
  font-weight:500;
}
button.not-selected{
  background:#fff;
  color:#555555;
}
button.selected{
  background:#555555;
  color:#fff;
}
